.u-section-1 .u-sheet-1 {
  min-height: 73px;
}

.u-section-1 .u-group-elements-1 {
  width: 1301px;
  min-height: 33px;
  height: auto;
  margin: 20px -81px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 860px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -33px -3px 0 1221px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -33px 90px 0 1113px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/Manhattan-Cocktail-FT-BLOG0522-dee9bf6e992f425eb496657aa2f14d472.jpg");
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52px 520px 0 -49px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 783px 0 -49px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 119px -79px 0 550px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 -79px 60px 814px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 583px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 350px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 188px;
    margin-left: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 363px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 78px;
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 183px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-text-1 {
  width: auto;
  margin: 240px 80px 0;
}

.u-section-3 .u-text-2 {
  width: auto;
  font-size: 3.75rem;
  margin: -125px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
    margin-top: -161px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 268px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -193px;
    margin-left: 0;
    margin-right: 0;
  }
}