 .u-section-1 {
  background-position: 50% 50%, 50% 100%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/photo-1566417713940-fe7c737a9ef2.jpeg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-group-elements-1 {
  width: 1301px;
  min-height: 33px;
  height: auto;
  margin: 26px -81px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 860px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -33px -3px 0 1221px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -33px 90px 0 1113px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 183px -31px 0;
}

.u-section-1 .u-text-5 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 -31px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
  margin: 64px auto 60px;
  padding: 15px 47px 16px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    --radius: 7px;
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1125px;
}

.u-section-2 .u-image-1 {
  width: 552px;
  height: 325px;
  --radius: 5px;
  filter: brightness(0.7);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px auto 0 -10px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -297px 137px 0 515px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 12px 0 640px;
}

.u-section-2 .u-image-2 {
  width: 552px;
  height: 325px;
  --radius: 5px;
  filter: brightness(0.7);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px -21px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -307px 499px 0 153px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 569px 0 70px;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 285px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 153px auto 0 -10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -168px 31px 60px 608px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-2 .u-image-1 {
    height: 324px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -288px;
    margin-right: 37px;
    margin-left: 415px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 452px;
  }

  .u-section-2 .u-image-2 {
    height: 324px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -8px;
    margin-right: 399px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 439px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 436px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -507px;
    margin-right: 0;
    margin-left: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 232px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 317px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 66px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -3px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 306px;
    margin-right: 52px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 39px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 270px;
    margin-top: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -255px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -288px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -9px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 200px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -54px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 270px;
    height: 135px;
    margin-top: 370px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -291px;
    margin-left: 0;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image1.png');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 535px;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  width: 354px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 86px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 30px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 694px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 400;
  margin: 61px auto 60px;
  padding: 16px 19px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 59px;
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 143px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 19px -82px 0 570px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -66px 570px 58px -82px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 370px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    margin-right: 370px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 30px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  width: 519px;
  margin: 236px auto 0;
}

.u-section-5 .u-text-2 {
  width: 519px;
  font-size: 1rem;
  margin: -161px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 240px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 3.75rem;
    margin-top: -125px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 4.5rem;
    margin-top: -161px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 268px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -193px;
    margin-left: 0;
    margin-right: 0;
  }
}